.main {
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: var(--max-width);
  margin: auto;
}

section.title {
  padding: 1rem 0;
  border-bottom: 1px solid rgb(var(--border-rgb), 0.2);
}

section.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1rem;
}
